{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="f6241341-9c87-44b7-bbc1-ff147d6720ef"
    ></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      {{if eq .Type "post"}}
        {{template "post_content_block" .}}
      {{else if eq .Type "page"}}
        {{template "page_content_block" .}}
      {{else if eq .Type "post_list"}}
        {{template "post_list_content_block" .}}
      {{else}}
        <p>Error: Unknown content type '{{.Type}}' for page '{{.Title}}'</p>
      {{end}}
    </main>
    <footer>
      <p>&copy; 2025 My Static Site</p>
    </footer>
  </body>
</html>
{{end}}
